<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
		
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.RegisterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.HelloWorldServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UtentiServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.UtentiServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>NodesServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.NodesServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginTraderServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.LoginTraderServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.HomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/HelloWorldServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginTraderServlet</servlet-name>
		<url-pattern>/LoginTraderServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>UtentiServlet</servlet-name>
		<url-pattern>/UtentiServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>NodesServlet</servlet-name>
		<url-pattern>/NodesServlet</url-pattern>
	</servlet-mapping>


	<session-config>
		<session-timeout>4000</session-timeout>
	</session-config>

</web-app>
